/* Document level adjustments */
:root {
    font-size: 16px;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text {
    color: #ffffff;
}

.page-title {
    font-size: 3rem;
    margin: 10rem 0 2rem 0;
    text-shadow: 2px 2px 10px #000000;
}

.related-copy {
    font-size: 2rem;
    margin-bottom: 10rem;
    text-shadow: 2px 2px 10px #000000;
}

.banner {
    width: auto;
    background: url("../images/main-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    border: 1px solid transparent;
}

.btn-project {
    font-size: 1rem;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    padding: 1rem;
}

.text-black {
    color: #000000;
}

.text-blue {
    color: #023d79;
    font-size: 1.5rem;
    font-weight: bold;
}

.text-black {
    color: #000000;
    font-size: 1.5rem;
}

.content-text {
   padding:4rem;
}

.content-text  p {
    font-size: 36px;
}
.content-text  p + p {
    font-size: 48px;
    text-transform: uppercase;
    font-weight:bold;
}
.types {
    width: 100%;
    display: flex;

    /* -webkit-flex-wrap: nowrap;*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.bg {
    position: relative;
    z-index: 1;
    width: 366px;
    margin-right: 2px;
}

.type-bg {
    max-width: 100%;
}

.type-content {
    position: absolute;
    top: 0;
    left: 5rem;
    z-index: 999;
    color: #ffffff;
    font-size: 0.7em;
    padding-top: 2rem;
}

.type-text {
    padding-left: 0;
}

.type-content > div {
    text-align: center;
}

.attended-icon {
    max-width: 100%;
}

.type-text h4 {
    font-weight: bold;
    font-size: 1rem;
}

.type-text p {
    font-size: 0.9rem;
}

.tools {
    background: #000000;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
}

.tools p {
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom:3rem;
    font-weight:bold;
    font-size: 38px;
}

.rpatools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    margin-right: 2rem;
    width: 282px;
}

.steps-to-automation {
    text-align: center;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

.steps-text {
    font-size:38px;
    margin-bottom: 3rem;
}

.automation-chart {
    max-width: 100%;
}

.expertise-main-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f1f2f2;
    padding: 4rem 185px 4rem 185px;
}

.expertise-main-row h4 {
    margin-top: 70px;
    margin-bottom: 72px;
}
.expertise-main-row h1 {
    font-size: 38px;
}
.responsive-img {
    max-width: 100%;
}

.exp-text {
    margin-right: 1.2rem;
}

.areas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.areas div {
    margin-right: 2rem;
    flex: 0 0 10%;
}

.typebg {
    background: #f1f2f2;
    padding: 1rem 0;
}

/* YELLOW BG SECTION */

.content-scroller {
    background: #e4bf05;
    padding: 4rem 12rem;
    position: relative;
}

.content-scroller div.text-scroller {
    font-size: 1rem;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 1rem;
}
.client{
    color: #023d79;
}
.designation {
    color: #231f20;
}
a.prev {
    top: 118px;
    left: 88px;
    position: absolute;
}

a.next {
    top: 118px;
    right: 88px;
    position: absolute;
}

/* .text-scroller {
    display: flex;
    flex-direction: row;
    width: 3984px;
    overflow: hidden;
}

.slides {
    width: 1398px;
} */

.yellow-bg {
    background: #e4bf05;
}
/* YELLOW BG SECTION */



.related-projects {
    font-size: 38px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    padding: 4rem 0;
}

/* PROJECTS SECTION START */

.projects {
    background: url("../images/shopping-cart.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #ffffff;
    height: 100vh;
    padding-bottom: 25rem;
}

.case-study-btn {
    display: block;
    border-radius: 30px;
    border: 1px solid #ffffff;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem 0;
    width: 256px;
    margin: 0 auto;
}

.cart {
    max-width: 100%;
}

.cart-text {
    position: absolute;
    bottom: 109px;
    width: 100%;
}

.projects h1 {
    padding-top: 40rem;
    margin-bottom: 2rem;
}

.projects h1 + h2 {
    margin-bottom: 2rem;
}

/* PROJECTS SECTION END */

/* FORM SECTION START */

.row-fields, .row-textarea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
}

.file-attachment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
}

.attach-files {
    flex: 0 0 38%;
    padding: 20px 0 20px 20px;
    text-align: right;
}

.row-fields input, .file-attachment input {
    flex: 0 0 36%;
    padding: 20px;
    font-size: 1rem;
}

.row-textarea textarea {
    flex: 0 0 83%;
    font-size: 1rem;
    padding: 20px;
    font-family: roboto;
}

.fbform {
    background: #023d79;
    text-align: center;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 85px 85px 0 85px;
}

.fbform h1 {
  
    margin-bottom: 4rem;
    font-size: 50px;
}

.form-btn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.form-btn-row button {
    width: 276px;
    font-weight: bold;
    border-radius: 5px;
    background: #e4bf05;
    color: #000000;
    padding: 1rem 1rem;
}

.attach-file-btn {
    font-size: 1.125rem;
    text-transform: uppercase;
    width: 279px;
    height: 48px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    /* padding: 10px; */
    text-decoration: none;
    display: flex;
    margin-left: auto;
    /* text-align: center; */
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
}
.steps-image {
    margin-bottom: 2rem;
}

@media screen and (max-width: 992px) {
    .fbform {
        padding: 0;
    }

    .row {
        justify-content: center;
    }

    .row input {
        /* width: 100%; */
        margin-bottom: 1rem;
    }

    .file-attachment a {
        text-align: center;
    }
}

@media screen and (max-width: 970px) {
    .row-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 320px) and (max-width: 823px) {
    /* .row-fields input, .file-attachment input {
        width: 15rem;
        padding: 20px;
        margin-bottom: 2rem;
    }
    .file-attachment {
        padding: 0;
    } */
    .row-textarea textarea {
        flex: 0 0 50%;
    }
    .banner h6 {
        font-size: 2rem;
    }

    .related-copy {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .expertise-main-row {
        padding: 90px 0 0 0;
    }

    .expertise-main-row h1 {
        font-size: 1rem;
        text-align: center;
    }

    .expertise-main-row h4 {
        font-size: 1rem;
        text-align: center;
    }

    .areas div {
        margin-right: 0rem;
    }

    .btn-project {
        font-size: 0.5rem;
        border: 1px solid #ffffff;
        border-radius: 2rem;
        color: #ffffff;
        padding: 1rem;
        width: 51%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .content-text {
        text-align: center;
    }

    .areas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: normal;
        align-items: center;
    }

    .form-btn-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }

    .form-btn-row button {
        width: 190px;
        font-weight: bold;
        border-radius: 5px;
        background: #e4bf05;
        color: #000000;
        padding: 1rem;
    }

    .cart-text {
        position: absolute;
        bottom: 26px;
        width: 100%;
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 812px) {
    .row-fields input, .file-attachment input {
        width: auto;
        padding: 20px;
        margin-bottom: 2rem;
    }

    .file-attachment {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .file-attachment {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        width: auto;
        margin: 0 auto 2rem auto;
    }

    .row-fields input, .file-attachment input {
        margin-bottom: 2rem;
    }

    .attach-files {
        width: auto;
        padding: 20px;
        text-align: right;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .row-fields input, .file-attachment input {
        width: 71%;
        padding: 20px;
        margin-bottom: 2rem;
    }

    .file-attachment {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .file-attachment {
        margin-bottom: 70px;
        width: 100%;
    }

    .row-fields input, .file-attachment input {
        margin-bottom: 2rem;
    }

    .attach-files {
        text-align: center;
    }

    .areas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .related-copy {
        font-size: 23px;
    }
    .row-textarea textarea{
      flex: 0 0 77%;
    }
}

@media screen and (min-width: 1025px) and (max-width:1366px) {
    .row-fields input, .file-attachment input {
        margin-bottom: 2rem;
    }

  

    .attach-files {
        width: 400px;
        padding: 20px;
        text-align: right;
    }
    form {
        width: 100%;
    }
    .row-textarea textarea{
        width:0, 0 36%;
    }

}
 /* .row-fields, .file-attachment  {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
 } */
/* FORM SECTION END */
